streamlit
python-dotenv
langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
openai
tiktoken
pypdf
pdf2image
Pillow
pytesseract
transformers
torch
duckduckgo-search
langchain-community